{{/* see: https://badgen.net/ */}}


{{ $badgen := newScratch }}
{{ $badgen.Set "subject" (.Get "subject") }}
{{ $badgen.Set "status" (.Get "status") }}
{{ $badgen.Set "color" (.Get "color") }}
{{ $badgen.Set "icon" (.Get "icon") }}
{{ $badgen.Set "scale" (.Get "scale") }}
{{ $badgen.Set "httpsService" (.Get "httpsService") }}
{{ $badgen.Set "serviceRequestFor" (.Get "serviceRequestFor") }}
{{ $badgen.Set "offeringIdentifier" (.Get "offeringIdentifier") }}
{{ $badgen.Set "httpsServiceEndPoint" "badge.medigy.com" }}
{{ $badgen.Set "upvoteServiceRequest" (print "/service/badgen/" ($badgen.Get "serviceRequestFor") "/offering/") }}

{{ if .Get "renderHost" }}
    {{ $badgen.Set "host" (.Get "renderHost") }}
{{ else if getenv "NS_HSC_BADGEN_RENDER_HOST" }}
    {{ $badgen.Set "host" (getenv "NS_HSC_BADGEN_RENDER_HOST") }}
{{ else }}
    {{ $badgen.Set "host" "https://badgen.net" }}
{{ end }}
{{ if ne ($badgen.Get "httpsService") "true" }}
    {{ $generatedSrc := print ($badgen.Get "host") "/badge/" ($badgen.Get "subject") "/" ($badgen.Get "status") "?color=" ($badgen.Get "color") "&icon=" ($badgen.Get "icon") "&scale=" ($badgen.Get "scale")}}
    <img src="{{ $generatedSrc }}" >
{{ else }}
    {{ $generatedSrc := print ($badgen.Get "host") "/https/" ($badgen.Get "httpsServiceEndPoint") ($badgen.Get "upvoteServiceRequest") ($badgen.Get "offeringIdentifier") }}
    <img src="{{ $generatedSrc }}" >
{{ end }}
    